.icon-margin2 {
  margin: 2%;
}
  
.icon-trash:hover {
  fill: rgb(238, 66, 66);
}

.icon-edit:hover {
  fill: lightseagreen;
}

.icon-clip:hover {
  fill: purple;
}

.fill-red {
  fill: rgb(238, 66, 66);
}

.fill-lightseagreen {
  fill: lightseagreen;
}

.fill-purple {
  fill: purple;
}

.icon-small {
  width: 10%;
  height: auto;
}

.icon-medium {
  width: 30%;
  height: auto;
}

.icon-right {
  float: right;
}

.icon-top {
  top: 5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}