body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;

}

.bulletin {
  width: 100vw;
  height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
  justify-content: center;
}

.bulletin-board {
  padding: 1vw;
  height: 75vh;
  width: 50%;
  background-color: grey;
  overflow-y: scroll;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.postit {
  margin: 2%;
  background-color: lightgrey;
  width: 25%;
  height: 20vh;
  border: none;
  padding: 2%;
  float: left;
}

.bg-blue {
  background-color: whitesmoke;
}

.postit-title {
  margin-bottom: 5%;
  font-size: 1.3em;
  font-weight: bold;
}

.icon-margin2 {
  margin: 2%;
}

.icon-trash:hover {
  fill: rgb(238, 66, 66);
}

.icon-edit:hover {
  fill: lightseagreen;
}
.icon-small {
  width: 10%;
  height: auto;
}

.icon-medium {
  width: 30%;
  height: auto;
}

.icon-right {
  float: right;
}

.icon-top {
  top: 5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
