body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;

}

.bulletin {
  width: 100vw;
  height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
  justify-content: center;
}

.bulletin-board {
  padding: 1vw;
  height: 75vh;
  width: 50%;
  background-color: grey;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.postit {
  margin: 2%;
  background-color: lightgrey;
  width: 27%;
  height: 20vh;
  border: none;
  padding: 0;
  float: left;
}

.postit-add {
  background-color: blue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
